---
interface Props {
	title: string;
	description: string;
	thumbnail: string;
	github: string;
	demo: string;
}

const { thumbnail, demo, github, title, description } = Astro.props;
---
<div class="project">
  <section class="transition bg-white/10 hover:bg-white/20">
    <div class="project-body md:pl-10 md:pr-2 md:pt-10 lg:max-w-[50%]">
      <h3 class="project-title">{title}</h3>
      <ul class="flex flex-wrap gap-2 mb-3 sm:mt-auto">
        <p class="font-bold text-gray-500">Made with:<!-- --> </p>
      </ul>
      <p class="project-description mt-2 leading-relaxed text-gray-700 mb-3">{description}</p>
      <div class="flex">
        <a href={demo} target="_blank" rel="noopener noreferrer" class="flex items-center bg-[rgb(var(--accent))] text-white py-2 px-4 mr-2 rounded-full hover:scale-105">Demo</a>
        <a href={github} target="_blank" rel="noopener noreferrer" class="flex items-center border border-[#111827] py-2 px-4 rounded-full mr-2 text-[#111827] hover:scale-105">
          <span class="opacity-70">GitHub</span>
        </a>
      </div>
    </div>

    <img src={thumbnail} alt="Thumbnail of a project I worked on" class="absolute hidden lg:block top-[30px] -right-8 w-[28.25rem] h-[25rem] rounded-t-lg shadow-2xl scale-[1.0] transition  hover:-translate-x-3 hover:translate-y-3 hover:-rotate-2 ">
  </section>
</div>

<!-- <li class="link-card">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</li> -->


<style>
  .project{
    opacity: 1;
    transform: none;
    margin-bottom: 12px;
    width: 800px;
    max-width: calc(100% - 2rem);;
  }

  .project section{
    background-color: #f3f4f6;
    max-width: 58rem;
    border-width: 1px;
    border-color: rgb(0 0 0 / 0.05);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .project-body{
    /* pt-4 pb-7 px-5 md:pl-10 md:pr-2 md:pt-10 lg:max-w-[50%] flex flex-col h-full */
    padding-top: 1rem;
    padding-bottom: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .project-title{
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 600;
    margin-bottom: 1rem/* 16px */;
  }


  .project section:hover{
    background-color: #e5e7eb;
  }

  @media (min-width: 640px) {
    .project {
        margin-bottom: 2rem/* 32px */;
    }

    .project section{
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024) {
    .project section{
      min-height: 21rem/* 336px */;
    }
  }
	/* .link-card {
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 7px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
	}
	.link-card > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: white;
		background-color: #23262d;
		opacity: 0.8;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	} */
</style>
