---
interface Props {
  title: string;
  description: string;
  thumbnail: string;
  github: string;
  demo: string;
}

const { thumbnail, demo, github, title, description } = Astro.props;
---

<div class="project">
  <section class="transition bg-white/10 hover:bg-white/20">
    <div class="project-body md:pl-10 md:pr-2 md:pt-10">
      <h3 class="project-title">{title}</h3>
      <ul class="flex flex-wrap gap-2 mb-3 sm:mt-auto">
        <p class="font-bold text-gray-500">Made with:<!-- --></p>
      </ul>
      <p class="project-description mt-2 leading-relaxed text-gray-700 mb-3">
        {description}
      </p>
      <div class="flex">
        <a
          href={github}
          target="_blank"
          rel="opener noreferrer"
          class="flex items-center border bg-[rgb(var(--accent))] text-white py-2 px-4 rounded-full mr-2 hover:scale-105"
        >
          GitHub</a
        >
        <!-- Hide demo button if empty -->
        {
          demo != "" && (
            <a
              href={demo}
              target="_blank"
              rel="noopener noreferrer"
              class="flex items-center border-[#111827] text-[#111827] py-2 px-4 mr-2 rounded-full hover:scale-105 opacity-70"
            >
              Demo
            </a>
          )
        }
      </div>
    </div>

    <img
      src={thumbnail}
      alt="Thumbnail of a project I worked on"
      class="absolute top-[40px] max-w-[60%] -right-8 w-[30rem] rounded-t-lg shadow-2xl scale-[1.0] transition hover:-translate-x-3 hover:translate-y-3 hover:-rotate-2"
    />
  </section>
</div>

<style>
  .project {
    opacity: 1;
    transform: none;
    margin-bottom: 12px;
    width: 800px;
    max-width: calc(100% - 2rem);
  }

  .project section {
    background-color: #f3f4f6;
    max-width: 58rem;
    border-width: 1px;
    border-color: rgb(0 0 0 / 0.05);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .project-body {
    padding-top: 1rem;
    padding-bottom: 1.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 42%;
  }

  .project-title {
    font-size: 1.5rem /* 24px */;
    line-height: 2rem /* 32px */;
    font-weight: 600;
    margin-bottom: 1rem /* 16px */;
  }

  .project section:hover {
    background-color: #e5e7eb;
  }

  @media (max-width: 640px) {
    .project-body {
      max-width: 50%;
    }
  }

  @media (min-width: 640px) {
    .project {
      margin-bottom: 2rem /* 32px */;
    }

    .project section {
      padding-right: 2rem;
    }
  }

  @media (min-width: 1024) {
    .project section {
      min-height: 21rem /* 336px */;
    }
  }
</style>
